/* font-family: 'Raleway', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Gothic A1', sans-serif;
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'BenchNine', sans-serif; */

/* https://stackoverflow.com/questions/23695090/spin-or-rotate-an-image-on-hover */

/* https://stackoverflow.com/questions/20217869/how-to-spin-an-image-horizontally-with-css */