/* custom css for index.html */

/* *** image at the top of the screen *** */
.hero-image-top {
    /* background-image: linear-gradient(-145deg,rgb(230, 204, 153, .6 ),  rgb(53, 99, 104, .6), rgb(50, 82, 105, .6)),url('/assets/images/epicenterwording.png') ; */
    background-image:  linear-gradient(-145deg,rgb(230, 204, 153, .6 ),  rgb(53, 99, 104, .6), rgb(50, 82, 105, .6)), url('/assets/images/epicenterfinal.jpg');
    height:60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }
  .master{
    background-color: white;
  }
  .about{
    padding: 5% 2% 2% 2%;
  }
  .location{
    padding-top:5%;
  }

  /* *** the animations for when you hover over anything with a link attribute *** */

  .artist{
    color: #ffffff;
   
  }
  .artist:hover{
    text-decoration: none;
    color: #ebcb92;
  }
   .image{
    height: 80vh;
    width: auto;
  } 
  .gear{
    font-family: 'Muli', sans-serif;
    color:#727f87;
    /* background-color:rgb(230, 204, 153, .8 ); */
    align-content: center;
    text-align: center;
    margin-bottom:2%;
    font-size: 25px;
   
  }
  .headphones{
    padding-left: 5%;
    padding-right:5%;
  }
  .hero-image-2{
        /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
        background-image: linear-gradient(-145deg,rgb(230, 204, 153, .7 ),  rgb(53, 99, 104, .7), rgba(50, 82, 105, .7));
        /* linear-gradient(  rgb(53, 99, 104, .6), rgb(53, 99, 104, .6)); */
        /* Set a specific height */
        height: 100%;
      
        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
   .studio{
        font-family: 'Muli', sans-serif;
    /* color: #818181; */
    color:#ffffff;
    align-content: center;
    text-align: center;
      }
      .building{
        padding-right:10%;
      }
  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  /* *** Media Queries *** */

  @media only screen and (max-width: 414px) {
    .hero-image-top{
      height: 10vh;
    }
  }

@media only screen and (max-width: 600px) {
  .hero-image-top{
    height: 30vh;
  }
}
@media only screen and (min-width: 600px) {
 

  /* .headphones{
    height: 13vh;
    width: auto;
  }  */
}

@media only screen and (min-width: 768px) {
  /* .headphones{
    height: 20vh;
    width: auto;
  } */
}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}
