/* General CSS for the entire website with global variables */

/* font-family: 'Raleway', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Gothic A1', sans-serif;
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'BenchNine', sans-serif;
color: #226469 Blue Sapphire *accent color*
color: #ebcb92 Pale Gold *accent color*
color: #727f87 Aurometalsaurus *text color?*
color: #dee3e6 Platunum *background color*
color: #28536B Dark Slate Gray *highlight color*
color #ffffff *highlight color*

*/
body{
  background-color: #ffffff;
  /* background-image:linear-gradient(-145deg,rgb(230, 204, 153, .6 ),rgb(53, 99, 104, .6),rgb(50, 82, 105, .6)); */

}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: (#727f87); /* Autrometalsaurus*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    font-family: 'BenchNine', sans-serif;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    /* color: #818181; */
    color:#ebcb92;
    display: block;
    transition: 0.3s;
    font-family: 'BenchNine', sans-serif;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    /* color: rgb(101, 16, 9); */
    color: #226469
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 70px;
    margin-left: 50px;
    font-family: 'BenchNine', sans-serif;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
    /* background-color: #ffffff; */
    
  }
  /* .logo{
    align-content: center;
    background-image:linear-gradient(45deg,#727f87,  #dee3e6);
    height: 800px; 
     background-color:#727f87; 
    
  }*/
  .cl-effect-2 a {
	line-height: 50px;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
}

.cl-effect-2 a span {
	position: relative;
	display: inline-block;
	padding: 20px 20px;
    /* background: #2195de; */
    /* background:darkgray; */
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.csstransforms3d .cl-effect-2 a span::before {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
    /* background: #0965a0; */
    /* background:darkgray; */
	content: attr(data-hover);
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
}

.cl-effect-2 a:hover span,
.cl-effect-2 a:focus span {
	-webkit-transform: rotateX(90deg) translateY(-22px);
	-moz-transform: rotateX(90deg) translateY(-22px);
	transform: rotateX(90deg) translateY(-22px);
}
.csstransforms3d .cl-effect-2 a:hover span::before,
.csstransforms3d .cl-effect-2 a:focus span::before {
    /* background: #28a2ee;	 */
    /* background:darkgray; */
}
/* *** menu button on all pages *** */
.menu{
  /* background-image: linear-gradient(-145deg,rgb(230, 204, 153, .7 ),  rgb(53, 99, 104, .7), rgba(50, 82, 105, .7)); */
    font-family: 'BenchNine', sans-serif;
    /* color: #818181; */
    color:#ebcb92;
    font-size:35px;
    padding:3%;
    width: 100%;
}
.menu:hover{
    /* color: rgb(101, 16, 9); */
    color: #ffffff;
}
@-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @-webkit-keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }

  /* *** Main font for all pages *** */
  
.title{
    font-family: 'BenchNine', sans-serif; 
    font-weight: 100;
    font-size: 100px;
    /* color: #818181; */
    color:#727f87;
    text-align: center;
    padding:10%;
}
  #intro{
    font-family: 'Muli', sans-serif;
    /* color: #818181; */
    color:#727f87;
    text-align: center;
    align-content: center;
    font-size: 30px;
  }
  
  /* *** Footer *** */

  .footer{
    font-family: 'BenchNine', sans-serif;
    /* color: #818181; */
    background-image:linear-gradient(-145deg,rgb(230, 204, 153, .6 ),  rgb(53, 99, 104, .6), rgb(50, 82, 105, .6));
    /* background-color: #818181; */
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height:100%;
    margin-top: 5%;
    /* margin-bottom: 5%; */
  }
 /* *** footer icons and animation on them *** */
  .fa-facebook-f{
    /* color: #818181; */
    /* color:#727f87; */
    color: hsl(184, 51%, 27%);
    font-size:150%;
    padding: 2.5%;
  }
  .fa-facebook-f:hover{
      /* color: rgb(101, 16, 9) */
      color: #226469;
      
  }
  .fa-instagram{
    /* color: #818181; */
    /* color:#727f87; */
    color: #226469;
    font-size:150%;
    padding: 2.5%; 
  }
  .fa-instagram:hover{
    /* color: rgb(101, 16, 9); */
    color: #226469;;
}
  .fa-twitter{
    /* color: #818181; */
    /* color:#727f87; */
    color: #226469;
    font-size:150%;
    padding: 2.5%; 
  }
  .fa-twitter:hover{
    /* color: rgb(101, 16, 9); */
    color: #226469;;
}
  .fa-compact-disc{
    /* color: #818181; */
    /* color:#727f87; */
    color: #226469;
    font-size:150%;
    padding: 2.5%; 
  }
  .fa-compact-disc:hover{
    /* color: rgb(101, 16, 9); */
    /* background-color: black; */
    color: #226469;
}

  .fa-broadcast-tower{
    /* color: #818181; */
    /* color:#727f87; */
    /* color:#ffffff; */
    color: #226469;
    font-size:150%;
    padding: 2.5%; 
  }
  .fa-broadcast-tower:hover{
    /* color: rgb(101, 16, 9); */
    color: #226469;
    
}
  #hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    /* box-shadow: 0 0 2px #ffffff; */
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    padding: 2.5%;
  }
  #hvr-bounce-in:hover, #hvr-bounce-in:focus, #hvr-bounce-in:active {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }

  /* *** Media Queries *** */


 /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
 @media only screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  @media screen and (max-width: 600px) {
    .sidenav {
      padding-top: 15px;
  
    }
    .sidenav a {font-size: 18px;}
  }
  @media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}

  

  